@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

html {
    box-sizing: border-box;
}

body{
    margin: 10px; 
    min-height: 100vh;
    font-family: 'Padauk', sans-serif;
    background-color: whitesmoke;

}

h1{
    text-align: center;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 2rem;
    
}

/* loader */

.loader{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container{
    margin: 10px 5%;
    display: flex;
    flex-direction: column;
}

.image-container img{
    width: 100%;
 
}

.link{
    height: 100vh;
}

a:-webkit-any-link{
    height: 100%;
    cursor: pointer;
}

/* media query */

@media screen and (max-width: 600px) {
    .image-container{
        margin: 10px;
    }
}